<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8" />
<title>登录页面</title>
<script type="text/javascript" src="../js/jQuery.js"></script>
<link rel="stylesheet" type="text/css" href="../plugin/bootstrap3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/base.css">
<link rel="stylesheet" type="text/css" href="../css/style.css">
</head>

<body>
<div class="container">
    <form class="form-signin" role="form">
        <h2 class="form-signin-heading">登录</h2>
        <div class="row mb15"><input type="email" class="form-control" placeholder="用户名" required="" autofocus=""></div>
        <div class="row mb15"><input type="password" class="form-control" placeholder="密码" required=""></div>
        <div class="row checkbox">
            <label> <input type="checkbox" value="remember-me"> 记住我</label>
        </div>
        <div class="row"><button class="btn btn-lg btn-primary btn-block" type="submit">登录</button></div>
    </form>
</div>
<script type="text/javascript" src="../plugin/bootstrap3.2.0/js/bootstrap.min.js"></script>
</body>

</html>
