<!DOCTYPE html>
<html lang="zh-cn">
<#include "include/head.html" />
<body>
<#include "include/header.html" />
<div class="index_search">
    <form action="" method="get">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="书名、作者、ISBN">
        <span class="input-group-btn">
        <button class="btn btn-default" type="submit">搜</button>
      </span>
    </div><!-- /input-group -->
    </form>
</div>
<h1>你好，世界！${test2}</h1>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
