<!DOCTYPE html>
<html lang="en">
<link href="../../css/reset.css" rel="stylesheet" type="text/css"/>
<link href="../../css/index.css" rel="stylesheet" type="text/css"/>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div class="top_line">
		<div class="top_heart">
			<ul>说书</ul>
		</div>
	</div>
	<div class="banner">
	</div>

	<!-- 导航栏 -->
	<div class="navigation_bar">
		<div class="navigation_bar_lf">
			<ul>首页</ul>
			<ul>分类浏览</ul>
			<ul>书评</ul>
			<ul>购物车</ul>
		</div>

		<div class="navigation_bar_rt">
			<input type="text" placeholder="请输入您要搜索的书名/作者" class="product_search" >
			<input type="button" class="search_button" value="搜索">
		</div>


	</div>
	
</body>

	<!-- <link rel="stylesheet" type="text/css" href="themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="themes/icon.css">
	<link rel="stylesheet" type="text/css" href="demo/demo.css"> -->
	<script type="text/javascript" src="jquery.min.js"></script>
	<script type="text/javascript" src="query.easyui.min.js"></script>
</html>