body {
    padding-top: 70px;
    padding-bottom: 30px;
}
.index_search {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.index_logo {
    font-family: "Microsoft YaHei";
    font-size: 30px;
}